.service-tab {

  .my-tab {
    h2 {
      width: 90%;
      margin: auto;
      margin-bottom: 12px;
      font-size: 22px;
      color: #ebebeb;
      letter-spacing: 1px;
      text-transform: uppercase;
      line-height: 40px;
      font-family: "Roboto", sans-serif;

      @media (max-width: 767px) {
        font-size: 15px;
        line-height: 17px;
      }
    }

    p {
      color: #fff;
      line-height: 26px;
      letter-spacing: 0.5px;
      font-weight: 300;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    a {
      padding: 5px 20px;
      border-radius: 3px;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 45px;
      background-color: #b60e0a !important;
      color: white;

      @media (max-width: 767px) {
        margin-top: 15px;
      }
    }
  }
}