.services {
  background: url(../img/take-look.jpg) no-repeat center center fixed;
  background-size: cover;

  .services-overlay {
    position: relative;
    padding: 150px 0 75px;

    &:before {
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
    }

    @media (max-width: 767px) {
      padding: 65px 0 75px;
    }
  }

  h1 {
    color: #b60e0a;
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Playball', sans-serif;

    @media (max-width: 767px) {
      font-size: 26px;
    }
  }

  .slogan {
    padding-bottom: 35px;
    color: #e2e2e2;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 35px;
    text-align: center;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

    @media (max-width: 767px) {
      font-size: 13px;
      line-height: 17px;
      padding-bottom: 10px;
    }
  }
}