.active-tab {
  background-color: #b60e0a !important;
}

.service-tab {
  ul{
    border: 0 solid #ddd;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 5px;
    list-style: none;
    padding: 0;

    @media (max-width: 767px) {
      margin-bottom: 14px;
    }
  }

  li {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #ebebeb;
    background-color: rgba(39, 39, 39, 0.91);
    margin: 5px;
    padding: 10px 20px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background-color: #b60e0a;
    }

    @media (max-width: 767px) {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 9px;
      font-weight: bold;
      width: 70px;
      height: 50px;
      padding: 0 0 5px 0;
      margin-left: 2px;
      margin-right: 0;
    }
  }

  .my-tab {
    h2 {
      width: 90%;
      margin: auto;
      margin-bottom: 12px;
      font-size: 22px;
      color: #ebebeb;
      letter-spacing: 1px;
      text-transform: uppercase;
      line-height: 40px;
      font-family: "Roboto", sans-serif;

      @media (max-width: 767px) {
        font-size: 15px;
        line-height: 17px;
      }
    }

    p {
      color: #fff;
      line-height: 26px;
      letter-spacing: 0.5px;
      font-weight: 300;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}