<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/js/main.css') }}">
            <style type="text/css">
                @font-face{
                    font-family: 'Roboto';

                    src: url({{ asset('fonts/Roboto_light.ttf') }});

                    font-weight: normal;

                    font-style: normal;

                }
            </style>
        {% endblock %}
    </head>
    <body style="margin: 0;">
        {% block body %}
            <div id="root" style="height: 10000px;"></div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
