<section class="services">
    <div class="services-overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">


                    <h1>Relevant services</h1>
                    <p class="slogan">Fresh and Healthy Food Availale </p>


                    <ul id="myTab" class="nav nav-tabs">
                        <li><a href="#tab-features" data-toggle="tab" aria-expanded="true"><i class="fa fa-wifi"></i><br>Free Wifi</a></li>
                        <li class="active"><a href="#extra" data-toggle="tab" aria-expanded="false"><i class="fa fa-taxi"></i><br>Free Parking</a></li>
                        <li><a href="#home-delivery" data-toggle="tab" aria-expanded="false"><i class="fa fa-bicycle"></i><br>Home Delivery</a></li>
                        <li><a href="#custom" data-toggle="tab" aria-expanded="false"><i class="fa fa-cubes"></i><br>Play ground</a></li>
                    </ul><div class="panel-group visible-xs" id="myTab-accordion"></div>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade" id="tab-features">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">Urbangrill offers free wifi </a></h2>
                                    <p>Enjoy free high-speed wifi. Simply click on Urbngrill wifi and ask any of our staff for login details. Now you can enjoy uninterrupted video streaming and downloads as much as you want...</p>
                                    <a class="btn btn-default btn-link" href="#" role="button">view more</a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="custom">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">We have a safe and secured play area</a></h2>
                                    <p> Enjoy your dining experience knowing that your children are safe and secure in our playground. We have an array of children's toys to keep them busy while you dine...</p>
                                    <a class="btn btn-default btn-link" href="#" role="button">view more</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade active in" id="extra">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">We have valet parking facilities</a></h2>
                                    <p>Urbangrill provides its customers with valet parking facilities that contribute to a positive overall dining experience. This way you don't have to waste time looking for a parking space...</p>
                                    <a class="btn btn-default btn-link" href="#" role="button">view more</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="home-delivery">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <h2><a href="#">Urbangrill also provides home deliveries</a></h2>
                                    <p>Our home delivery service allows you to order your favorite foods so that you can enjoy it from the comfort of your home, best for beating the traffic...</p>
                                    <a class="btn btn-default btn-link" href="#" role="button">view more</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.tab-content-->



                </div>
            </div>
        </div>
    </div>
</section>


<!--<div id="offcanvas-container" class="wrapper offcanvas-container">-->
    <!--<div class="inner-wrapper offcanvas-pusher">-->

        <!--<div class="slider-one">-->
<header class="header-wrapper">  Header
    <div class="container"> Menu
        <div class="row"> Menu
            <div class="col-xs-12"> menu
                <div class="logo">
                    <a title="UrbanGrill" href="index.html">
                        <img id="logo" src="img/logo.png" alt="UrbanGrill Logo">
                    </a>
                </div><!-- /Logo -->
                <!-- =========================================
                Menu
                ========================================== -->
                <div class="navbar navbar-default mainnav">
                    <div class="navbar-header navbar-right pull-right">
                        <div id="offcanvas-trigger-effects" class="column">
                            <button type="button" class="navbar-toggle visible-sm visible-xs" data-toggle="offcanvas" data-target=".navbar-collapse" data-placement="right" data-effect="offcanvas-effect"> <i class="fa fa-bars"></i>
                            </button>
                        </div><!-- offcanvas-trigger-effects -->
                    </div><!-- .navbar-header -->

                    <div class="collapse navbar-collapse"> NavBar
                        <ul class="nav navbar-nav navbar-right"> NavBar

                            <li class="active"><a href="index.html">Home</a></li>
                            <li ><a href="about-us.html">About Us</a></li>
                            <!-- Mega Menu -->
                            <li class="dropdown mega-menus"><a href="menu.html">Menu<i class="fa fa-angle-down"></i></a>
                                <div class="submenu-wrapper no-pointer-events submenu-wrapper-topbottom megamenu-wrapper">
                                    <div class="submenu-inner  submenu-inner-topbottom megamenu-inner">
                                        <ul class="level2 dropdown-menu">
                                            <li>
                                                <div class="mega-content">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <ul>
                                                                <li class="dropdown-header">Menu - Main Course</li>
                                                                <li><a href="menu.html">Beetroot Collection</a></li>
                                                                <li><a href="menu.html">Lobster Ravioli</a></li>
                                                                <li><a href="menu.html">Pollo Farcito</a></li>
                                                                <li class="dropdown-header">Menu - Appetizer</li>
                                                                <li><a href="menu.html">organic Egg</a></li>
                                                                <li><a href="menu.html">Beetroot Collection</a></li>

                                                            </ul>
                                                        </div> <!-- .col-sm-3 -->
                                                        <div class="col-sm-3">
                                                            <ul>
                                                                <li class="dropdown-header">Menu - Dessrts</li>
                                                                <li><a href="menu.html">Victoria Pineapple</a></li>
                                                                <li><a href="menu.html">Choconuts ‘Grand CRU</a></li>
                                                                <li><a href="menu.html">FFuililes a feuilles</a></li>
                                                                <li><a href="menu.html">Zucchini fritti</a></li>
                                                                <li><a href="menu.html">Herb sautéed potatoes</a></li>
                                                                <li><a href="menu.html">FFuililes a feuilles</a></li>
                                                            </ul>
                                                        </div> <!-- .col-sm-3 -->
                                                        <div class="col-sm-3">
                                                            <ul>
                                                                <li class="dropdown-header">Menu - Drinks</li>
                                                                <li><a href="menu.html">White Wines</a></li>
                                                                <li><a href="menu.html">Krug Collection 1989</a></li>
                                                                <li><a href="menu.html">Port</a></li>
                                                                <li><a href="menu.html">Krug Collection</a></li>
                                                            </ul>
                                                        </div> <!-- .col-sm-3 -->
                                                        <div class="col-sm-3">
                                                            <ul class="menu-carousel">
                                                                <li>
                                                                    <div id="myCarousel-menu" class="carousel slide" data-ride="carousel">
                                                                        <div class="carousel-inner">
                                                                            <div class="item active">
                                                                                <a href="menu.html"><img src="img/mega-menu-img.jpg" alt="product 1"></a>
                                                                            </div><!-- End Item -->
                                                                            <div class="item">
                                                                                <a href="menu.html"><img src="img/mega-menu-img2.jpg" class="img-responsive" alt="product 2"></a>
                                                                            </div><!-- End Item -->
                                                                            <div class="item">
                                                                                <a href="menu.html"><img src="img/mega-menu-img3.jpg" class="img-responsive" alt="product 3"></a>
                                                                            </div><!-- End Item -->
                                                                            <div class="item">
                                                                                <a href="menu.html"><img src="img/mega-menu-img4.jpg" class="img-responsive" alt="product 4"></a>
                                                                            </div><!-- End Item -->
                                                                        </div><!-- End Carousel Inner -->
                                                                        <!-- Controls -->
                                                                        <a class="left carousel-control" href="#myCarousel-menu" data-slide="next"> <i class="fa fa-angle-left"></i></a>
                                                                        <a class="right carousel-control" href="#myCarousel-menu" data-slide="prev"><i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </li><!-- /.carousel -->
                                                                <li class="mega-carousel-more"><a href="#">View all Decorations <i class="fa fa-angle-double-right"></i></a></li>
                                                            </ul>
                                                        </div> <!-- .col-sm-3 -->
                                                    </div> <!-- .row -->
                                                </div> <!-- .mega-content -->
                                            </li>
                                        </ul>
                                    </div> <!-- .submenu-inner -->
                                </div><!-- .submenu-wrapper -->
                            </li><!-- /Mega Menu -->
                            <!-- Pages -->
                            <li><a href="reservation.html">Reservations </a></li>
                            <li><a href="gallery.html">Gallery </a></li>
                            <!-- Portfolio Pages -->
                            <li class="dropdown"><a href="events.html">Events <i class="fa fa-angle-down"></i></a>
                                <div class="submenu-wrapper no-pointer-events submenu-wrapper-topbottom">
                                    <div class="submenu-inner submenu-inner-topbottom">
                                        <ul class="level-one dropdown-menu single-dropdown">
                                            <li><a href="events.html#year">New Year Special</a></li>
                                            <li><a href="events.html#summer">Summer Special</a></li>
                                            <li><a href="events.html#weekend">20% off this weekend</a></li>
                                        </ul>
                                    </div><!-- .submenu-inner -->
                                </div><!-- .submenu-sub-wrapper -->
                            </li><!-- /Portfolio Pages -->
                            <!-- Contact Pages -->
                            <li><a href="contact-us.html">Contact</a></li><!-- /Contact Pages -->
                            <li><i id="search" class="flaticon-search74"></i></li>
                        </ul><!-- .navbar-nav -->
                    </div><!-- .navbar-collapse -->
                </div><!-- .navbar -->
            </div><!-- .col-xs-12 -->
        </div><!-- .row -->
    </div> <!-- .container -->
</header>


<div class="offcanvas-menu offcanvas-effect  hidden-sm hidden-md hidden-lg">
    <button id="off-canvas-close-btn" class="close" type="button" aria-hidden="true" data-toggle="offcanvas" >&times;</button>
    <h2>Sidebar Menu</h2>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="menu.html">menu</a></li>
        <li><a href="reservation.html">reservations</a></li>
        <li><a href="gallery.html">Gallery </a></li>
        <li><a href="events.html">events</a></li>
        <li><a href="contact-us.html">contact</a></li>
    </ul>
</div>