@import "../../../../variables/color";

.item-menu {
  padding: 0 0 22px 0;

  a {
    font-family: 'Roboto', sans-serif;
    color: $color-white;
    font-size: 15px;
    letter-spacing: 1.4px;
    padding: 0 15px;
    line-height: 10px;
    border-right: 1px solid $color-super-light-gray;
    font-weight: 900;
    
    &:hover {
      text-decoration: none;
      color: $color-main-red;
    }

    &:focus {
      text-decoration: none;
    }
  }

  &:hover {
    border-bottom: 2px solid $color-main-red;
  }
}

.active {
  a {
    color: $color-main-red;
  }

  border-bottom: 2px solid $color-main-red;
}

.main-nav {
  margin-top: 23px;
}
