@import "../../variables/color";

.header-wrapper {
    border-top: 7px solid $color-main-red;

    margin-bottom: 0;
    position: absolute;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    padding: 21px 0;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    background: rgba(0,0,0,0.3);
    background: -webkit-linear-gradient(bottom, rgba(18,18,18,0), rgba(0,0,0,1));
    background: -o-linear-gradient(top, rgba(18,18,18,0), rgba(0,0,0,1));
    background: -moz-linear-gradient(top, rgba(18,18,18,0), rgba(0,0,0,1));
    background: linear-gradient(to top, rgba(18,18,18,0), rgba(0,0,0,1));

  @media (max-width: 767px) {
    padding: 10px 0;
  }
}

.header-fixed {
  position: fixed;
  background: $color-white;
  height: 100px;



  li > a {
    color: $color-black;
  }

  .main-nav {
    margin-top: 10px;
  }

  @media (max-width: 767px) {
    height: 65px;
  }
}