@import "../../../variables/color";

.mobile-menu-wrapper {
  position: relative;
}

.mobile-menu-hide {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: $color-dark-gray;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
      font-weight: normal;

      a {
        display: block;
        padding: 1em 1em 1em 1.2em;
        outline: none;
        box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
        color: $color-super-light-gray;
        text-transform: uppercase;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
        letter-spacing: 1px;
        font-weight: 900;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
      }
    }
  }

}

.mobile-menu-show {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}