@import "../../../../variables/color";

.map-popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.map-popup {
  position: absolute;
  padding: 45px 35px;
  left: 28%;
  right: 28%;
  top: 25%;
  margin: auto;
  background: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
}

.map-popup__button {
  font-family: Roboto, sans-serif;
  position: absolute;
  color: #000000;
  font-size: 20px;
  line-height: 38px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(168,127,65,0.9);
  background: rgba(255,255,255,0.85);
  padding: 0 12px;
  -webkit-transition: all ease 0.35s;
  -moz-transition: all ease 0.35s;
  -o-transition: all ease 0.35s;
  transition: all ease 0.35s;
  right: -21px;
  top: -19px;
  cursor: pointer;

  &:hover {
    color: $color-main-red;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 1px #000;
  }
}

.map-info__title {
  font-family: Roboto, sans-serif;
  text-transform: capitalize;
  color: $color-text-main-gray;
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
}

.map-info__content {
  font-family: Roboto, sans-serif;
  color: $color-text-light-gray;
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;

  &_hover {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    color: $color-text-light-gray;
    line-height: 30px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;

    &:hover {
      color: $color-main-red;
    }
  }
}
